DJANGO_ENV=production
SECRET_KEY=replace-me-secret-key
DEBUG=False

ALLOWED_HOSTS=blog-it.tystar.cz,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://blog-it.tystar.cz
CORS_ALLOWED_ORIGINS=https://blog-it.tystar.cz

DB_NAME=blogit
DB_USER=blogit
DB_PASSWORD=replace-me-db-password
DB_HOST=blogit_db
DB_PORT=5432
DB_CONN_MAX_AGE=60
CONN_HEALTH_CHECKS=True

POSTGRES_DB=blogit
POSTGRES_USER=blogit
POSTGRES_PASSWORD=replace-me-db-password

SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
SESSION_COOKIE_SECURE=True
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SECURE=True
CSRF_COOKIE_SAMESITE=Lax

DRF_THROTTLE_ANON=120/min
DRF_THROTTLE_API_GLOBAL=1000/min
DRF_THROTTLE_ENDPOINT_ACTOR=60/min
DRF_THROTTLE_LOGIN=5/min
DRF_THROTTLE_USER=240/min
